<a href='https://fihm.ai/' target='_blank'><img src='https://i.postimg.cc/Y25KhxPM/q.png' border='0' width = 250 alt='q'/></a>

# ` العلائقية SQLite  إدارة البيانات عن طريق قاعدة بيانات`
# `تطبيق عملي على بيانات الغابات`
# `Managing Data with SQLite Database - Practical Implementation on Forest Data`

___
## `مقدمة`

`
إن وفرة البيانات اليوم تمثل تحديًا جديدًا لمهندسي البيانات، حيث أنه أصبح من اللازم صنع أنظمة قواعد بيانات مختصة لحفظ البيانات تسهل عملية إدارتها والوصول إليها. وكما أشرنا سابقا، إن إدارة البيانات هي أساس النجاح في مشاريع علم البيانات والذكاء الاصطناعي، وذلك لأننا نحتاج إلى البيانات من أجل تدريب نماذج تعلم الآلة، فإن لم يكن لدينا بالأساس قاعدة بيانات تحتفظ بالبيانات، لن يكون عندنا حينها بيانات لكي نستخدامها في عمل نماذج تعلم الآلة أو تحليلها للوصول إلى استنتاجات مفيدة. ولذلك يجب حفظ البيانات وتسهيل عملية الوصول إليها قدر الإمكان, وإن من أهم الأدوات في إدارة وحفظ البيانات هي قواعد البيانات، لأن الهدف الأساسي لقواعد البيانات هو حفظ البيانات وتسهيل عملية الوصول إليها أو تعديلها. و في الحقيقة نحن نستخدم قواعد البيانات منذ أكثر من خمسون عامًا، ومع مرور الزمن تطورت قواعد البيانات وأصبح هناك العديد من الأنواع. وفي هذا الدرس، سنتطرق إلى أحد أهم الأنواع والمعروف بـ`

`SQLite`

____
##  `أهداف الدرس` 
#####   `التعرف على أنواع البيانات الأساسية • `
#####  `(Structured ,Semi-Structured, Unstructured)`
#####     ` صنع قاعدة بيانات وتخزين جداول البيانات فيها •`
#####     ` استخدام أشهر لغة لاستخراج البيانات من قواعد البيانات وهي •`
#####  `(Structured Query Language - SQL)`

____
##  `أنواع البيانات`
`إن مصطلح البيانات هو مصطلح شامل يحتوي على مئات الأصناف من الملفات، حيث أن تغريدتك في تويتر تعتبر بيانات، وجدول الإكسل المستخدم في متجر الحلوى يعتبر بيانات، بل أن صورتك في انستغرام هي أيضا تعتبر بيانات. ولذلك سوف نلاحظ أن كل ما يتم رفعه على الإنترنت بإمكاننا اعتباره نوع من أنواع البيانات، ومهمتنا نحن كعلماء بيانات هو استخدامها من أجل الوصول إلى قرارات مفيدة ومربحة`

`على سبيل المثال، يقوم فريق من علماء البيانات بجمع البيانات الإستهلاكية في المتاجر الغذائية لمعرفة ماهي السلع الأكثر مبيعا؟ وماهي أكثر أيام الأسبوع التي يأتي فيها الزبائن؟ وماهو الأرباح المتوقعة في الشهر القادم؟ وهناك فريق ثاني من علماء البيانات آخرون يقومون بجمع تغريدات المستخدمين في تويتر من أجل تحليل تفاعلهم تجاه أمر معين كالأسهم أو مباريات كرة القدم. وحين النظر في الفريقين، نجد أن كل فريق يستخدم قاعدة بيانات مختلفة عن الآخرى، وذلك لأن نوع البيانات مختلف. إذًا ماهي الأنواع التي نتحدث عنها وكيف نعرف ماهي قاعدة البيانات المناسبة؟ لاحظ في الصورة المرفقة في الأسفل، أن هناك ثلاثة أنواع أساسية من البيانات. أولا البيانات المنظمة، ثم شبه المنظمة، وأخيرا البيانات الغير منظمة وتفصيلها كالتالي
`

#####     ` البيانات المنظمة هي البيانات التي تكون على هيئة جداول مثل ملفات الإكسل والسي إس في •`
##### ` البيانات الشبه منظمة هي البيانات التي لا تكون على هيئة جداول، ولكن يمكن تحويل البيانات المخزنة فيها إلى جداول بسهولة مثل ملفات الجيسون • `
##### ` البيانات الغير منظمة هي البيانات التي لا تكون على هيئة جداول، وتحتاج إلى العديد من الخطوات لتحويلها إلى جداول، مثل الصور والتغريدات •`

<div>
<img src="https://i.postimg.cc/52FvWb7J/data-types.png" width = 750>
</div>


`حسنًا، ربما استنتجت من الصورة أن معظم البيانات الموجودة على الإنترنت هي البيانات الغير منظمة! وهذا الاستنتاج صحيح تماما. حيث أن تفاعلاتنا على الإنترنت و زيارتنا في الأسواق وغيرها من الأنشطة تصنع كميات ضخمة من البيانات الغير منظمة. ولأننا نعلم أن البيانات المنظمة هي ذات الفائدة الأكبر في تدريب نماذج تعلم الآلة أو استنتاج قرارات مفيدة، يقوم مهندسوا البيانات بتحويل البيانات الغير منظمة إلى بيانات منظمة (ستركتشرد) لكي تصبح ذات نفع عالي نستطيع من خلالها تدريب نماذج تعلم الآلة والذكاء الاصطناعي واستنباط استنتاجات منطقية`

____
##  `ماذا نريد أن نفعل؟` 
`إن هدفنا اليوم هو التطرق إلى إدارة البيانات ذات الفائدة الأكبر وهي البيانات المنظمة. ويتم بالعادة إدارتها عن طريق أنظمة قواعد البيانات العلائقية `

`Relational Database Management Systems (RDMS)`

`حيث أنها تعتبر أشهر أنواع قواعد البيانات وهي متخصصة في البيانات المنظمة (أي جداول البيانات) والبيانات المخزنة فيها إما أنها منظمة بالأصل أو تم تحويلها من غير منظمة إلى منظمة لكي يتم حفظها في قاعدة البيانات العلائقية. واليوم سوف يكون تركيزنا على كيفية تخزين واستدعاءالبيانات المنظمة منها`

_____
##  `ماهو نظام قاعدة البيانات العلائقية المستخدمة في هذا الدرس؟` 
`إن هنالك العديد من أنظمة قواعد البيانات العلائقية ومن أشهرها`

`SQLite, MySQL, PostgreSQL`

` وبغض النظر عن نوع قاعدة البيانات المستخدمة، هناك شيء مشترك بينهم وهو أن معظم قواعد البيانات العلائقية نستطيع إدارة البيانات فيها من خلال لغة الـ`

`SQL`

_______

##  `إذا ماهو الـ` 
##  `SQL?` 

`لغة (الإس كيو إل) هي لغة برمجية نستطيع من خلالها إدارة قاعدة البيانات العلائقية. فمثلا، تتيح لنا هذه الغة صناعة جداول جديدة أو استيراد جداول وتخزينها في قاعدة البيانات. وأيضا تتيح لنا تعديل البيانات مثل حذف أعمدة معينة أو تحديث بيانات صف معين. وأيضا تستخدم اللغة لعمل استخراج وربط البيانات من قاعدة البيانات. ولذلك تعتبر هذه اللغة من أهم اللغات لعلماء ومهندسي البيانات `

_______

##  `ماهي البيانات المستخدمة؟` 

`تم أخذ جدولي بيانات من موقع البيانات السعودية المفتوحة (قسم الزراعة والأسماك) `

`2020الجدول الأول: حملة التشجير لنجعلها خضراء حتى تاريخ 10 ديسمبر` 

https://data.gov.sa/Data/ar/dataset/the-afforestation-campaign-to-make-it-green-until-december-10-2020

`الجدول الثاني بيانات الغابات حتى عام 2021`

*https://data.gov.sa/Data/ar/dataset/forest-data-to-2021*

`وقد قمنا بإجراء بعض التعديلات الطفيفة عليهم، ولذلك إن إردت تحميل البيانات، ننصح بتحيمل الجدولين من هنا`

https://github.com/KAFSALAH/Fihm_Lessons/tree/master/Data_Management_SQLite

### `Step one: Import Necessary Libraries — الخطوة الأولى: استدعاء المكتبات اللازمة`
`لأننا سوف نقوم باستخدام كلا من البايثون والإس كيو إل، سنقوم بتنزيل المكتبتين التاليتين والتي تتيح لنا استخدام الـ`

`SQL`

In [1]:
# To download these two libraries, uncomment the codes below 
# لتنزيل المكتبتين في الأسفل كم بإزالة الكومنت من الأكواد التالية

#!pip install sqlite3  # To manage SQLite db - لإدارة قاعدة البيانات
#!pip install ipython-sql # To write sql commands in this notebook - من أجل كتابة أوامر إس كيو إل

In [2]:
import pandas as pd # To read csv file from GitHub - لقراءة البيانات من جيت هوب
import sqlite3  # To manage SQLite db - لإدارة قاعدة البيانات

___
ملاحظة

سوف نقوم باستخدام علامة خاصة % عند كتابة أكواد السيكول من أجل التفرقة بينها وبين البايثون

إما أن نكتب في بداية الخلية

%%sql 

وهذا سوف يجعل جميع أسطر الخلية بالكامل تعامل معاملة الـ 

sql statement

أو أن نكتب في بداية السطر

%sql 

وهذا يجعل سطرا واحدا فقط عبارة عن  

sql statement

وعلى غرار البايثون، عند وضع تعليق نقوم باستخدام

-- 

بدلا من

##

___

In [3]:
# When writing sql scripts, we will use the magic command '%'.
# سوف نقوم باستخدام علامة خاصة % عند كتابة أكواد السيكول من أجل التفرقة بينها وبين البايثون

# to load the ipython-sql extension, we will use the following code 
# من أجل استخدام الإضافة التي تتيح لنا استخدام الإس كيو إل سوف نقوم باستخدام الكود التالي
%load_ext sql

### `Step Two: Use Pandas to Read Dataframes from GitHub — الخطوة الثانية:  استخدام مكتبة البانداس لقراءة إطاري البيانات `

`سوف نقوم الآن بقراءة الجدولين عن طريق استخدام مكتبة`

`Pandas`

In [4]:
Afforestation_KSA = pd.read_csv('https://github.com/KAFSALAH/Fihm_Lessons/raw/master/Data_Management_SQLite/Afforestation_KSA.csv')
Forests_KSA = pd.read_csv('https://github.com/KAFSALAH/Fihm_Lessons/raw/master/Data_Management_SQLite/Forests_KSA.csv')

### `Step Three: Create SQLite Database — الخطوة الثالثة: إنشاء قاعدة البيانات `

In [5]:
con = sqlite3.connect("My_Forest_DB.db") # Creating the db - إنشاء قاعدة البيانات

`عند تشغيل الكود الذي بالأعلى، سوف تلاحظ ظهور ملف جديد، هذا الملف هو قاعدة البيانات ونلاحظ أن حجم الملف هو صفر بايت لأننا لم نقم بتخزين جداول فيه للآن `

<div>
<img src="https://i.postimg.cc/XJny5FVN/db.png" width =750>
</div>

`الآن سوف نقوم بالاتصال بقاعدة البيانات عن طريق الكود التالي `

In [6]:
%sql sqlite:///My_Forest_DB.db

`يلي ذلك حفظ الإطارين في قاعدة البيانات المنشأة`

In [7]:
## Loading dataframes into the db
## حفظ الجدولين في قاعدة البيانات التي تم إنشاؤها
Afforestation_KSA.to_sql("Afforestation_KSA", con, if_exists='replace', index=False,method="multi")
Forests_KSA.to_sql("Forests_KSA", con, if_exists='replace', index=False,method="multi")

`يتم التحقق إذا ما تم تخزين الجدولين في قاعدة البيانات عن طريق الكود التالي`

In [8]:
# Checking the current tables in the db - التحقق من الجداول الموجودة حاليا في قاعدة البيانات

%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///My_Forest_DB.db
Done.

[('Afforestation_KSA',), ('Forests_KSA',)]

`لاحظ تغير حجم قاعدة البيانات بعد تخزين الجدولين فيها`


<div>
<img src="https://i.postimg.cc/pdfFykM1/db-fill.png" width="750"/>
</div>

### `Step Four: Explore the First Table in the Database — الخطوة الرابعة: استكشاف الجدول الأول في قاعدة البيانات `


`الآن سنقوم بالتعرف على أهم أكواد الـ`
 
 `SQL`
 
 `التي سوف نستخدمها لاستكشاف الجدولين. وأولا، سنقوم باستكشاف الجدول الأول وهو بيانات التشجير في المملكة العربية السعودية والمسمى بـ`
 
 `Afforestation_KSA`

In [9]:
%%sql
-- We use '*' to select the complete table
-- نحن نستخدم النجمة في حالة إردنا استعداء الجدول بالكامل

SELECT * FROM Afforestation_KSA;

 * sqlite:///My_Forest_DB.db
Done.

[('منطقة مكة المكرمة ', 55000, 16925, 293300, 365225),
 ('منطقة المدينة المنورة  ', 50000, 127810, 184150, 361960),
 ('الرياض ', 74000, 149095, 338404, 561499),
 ('القصيم ', 37000, 103830, 186960, 327790),
 ('الشرقية ', 150000, 36900, 1482490, 1669390),
 ('عسير', 150000, 12222, 101759, 263981),
 ('تبوك ', 350000, 25400, 6500, 381900),
 ('حائل ', 0, 18600, 111550, 130150),
 ('الجوف ', 0, 15175, 71000, 86175),
 ('الحدود الشمالية ', 135000, 89380, 2350, 226730),
 ('جازان ', 444718, 2000, 61500, 508218),
 ('الباحة ', 0, 19900, 54200, 74100),
 ('نجران ', 0, 8200, 800, 9000),
 ('الاجمالي ', 1445718, 625437, 2894963, 4966118)]

`لاحظ كيف أن النجمة تقوم باستعداء جميع الصفوف والأعمدة، ولكن ماذا لو أردنا استدعاء أعمدة محددة فقط؟ في الحقيقية نستطيع فعل هذا الأمر بسهولة. سوف نقوم باستبدال النجمة بأسماء الأعمدة التي نريد إظهارها`

In [10]:
%%sql
-- We will call 'State', 'Total_afforestation' columns only
-- سنقوم باستعداء عامودي المنطقة ومجموع أعداد التشجير فقط 

SELECT State, Total_afforestation FROM Afforestation_KSA;

 * sqlite:///My_Forest_DB.db
Done.

[('منطقة مكة المكرمة ', 365225),
 ('منطقة المدينة المنورة  ', 361960),
 ('الرياض ', 561499),
 ('القصيم ', 327790),
 ('الشرقية ', 1669390),
 ('عسير', 263981),
 ('تبوك ', 381900),
 ('حائل ', 130150),
 ('الجوف ', 86175),
 ('الحدود الشمالية ', 226730),
 ('جازان ', 508218),
 ('الباحة ', 74100),
 ('نجران ', 9000),
 ('الاجمالي ', 4966118)]

`حسنًا! ماذا لو أننا نريد أعداد التشجير في منطقة عسير فقط؟`

In [11]:
%%sql
-- We use 'WHERE' to add a condition
-- نقوم باستخدام وير من إجل إضافة شرط معين

SELECT * FROM Afforestation_KSA
WHERE State = 'عسير';

 * sqlite:///My_Forest_DB.db
Done.

[('عسير', 150000, 12222, 101759, 263981)]

In [12]:
%%sql
-- We can also use 'LIKE' command as follows
-- نستطيع أيضا استخدام لايك كالتالي

SELECT * FROM Afforestation_KSA
WHERE State LIKE '%منطقة المدينة المنورة%';

 * sqlite:///My_Forest_DB.db
Done.

[('منطقة المدينة المنورة  ', 50000, 127810, 184150, 361960)]

`سوف نقوم بتصفية الجدول عن طريق استدعاء بيانات المناطق التي كان موجوع أعداد التشجير فيها ما بين 300,000 و 500،000`

In [13]:
%%sql

SELECT * FROM Afforestation_KSA
WHERE Total_afforestation BETWEEN 300000 AND 500000

 * sqlite:///My_Forest_DB.db
Done.

[('منطقة مكة المكرمة ', 55000, 16925, 293300, 365225),
 ('منطقة المدينة المنورة  ', 50000, 127810, 184150, 361960),
 ('القصيم ', 37000, 103830, 186960, 327790),
 ('تبوك ', 350000, 25400, 6500, 381900)]

`نستطيع كذلك ترتيب الجدول من الأكبر للأصغر أو العكس. والآن سنقوم بترتيب المناطق حسب مجموع التشجير من الأكبر للأصغر`

In [14]:
%%sql
-- We use 'ORDER BY' to order table, and 'DESC' to make a descending order
-- نقوم باستخدام كود أوردر باي من أجل ترتيب الجدول، وكود ديس من أجل جعل الجدول يترتب من الأكبر للأصغر

SELECT * FROM Afforestation_KSA
ORDER BY Total_afforestation DESC;

 * sqlite:///My_Forest_DB.db
Done.

[('الاجمالي ', 1445718, 625437, 2894963, 4966118),
 ('الشرقية ', 150000, 36900, 1482490, 1669390),
 ('الرياض ', 74000, 149095, 338404, 561499),
 ('جازان ', 444718, 2000, 61500, 508218),
 ('تبوك ', 350000, 25400, 6500, 381900),
 ('منطقة مكة المكرمة ', 55000, 16925, 293300, 365225),
 ('منطقة المدينة المنورة  ', 50000, 127810, 184150, 361960),
 ('القصيم ', 37000, 103830, 186960, 327790),
 ('عسير', 150000, 12222, 101759, 263981),
 ('الحدود الشمالية ', 135000, 89380, 2350, 226730),
 ('حائل ', 0, 18600, 111550, 130150),
 ('الجوف ', 0, 15175, 71000, 86175),
 ('الباحة ', 0, 19900, 54200, 74100),
 ('نجران ', 0, 8200, 800, 9000)]

### `Step Five: Explore the Second Table in the Database — الخطوة الخامسة: استكشاف الجدول الثاني في قاعدة البيانات `

`والآن فلستكشف الجدول الثاني، وهو جدول يحتوي على بيانات الغابات في المملكة العربية السعودية. ولأننا نتوقع أن الجدول سوف يكون كبيرا نظرا لعدد الغابات الكثيرة. دعونا نحدد أننا نريد رؤية السبعة الصفوف الأولى فقط`

In [15]:
%%sql
-- we use LIMIT to specify number of rows
-- نستعمل كود ليميت لتحديد عدد الصفوف التي سوف تظهر


SELECT * FROM Forests_KSA 
LIMIT 7;

 * sqlite:///My_Forest_DB.db
Done.

[('F_1', 'غابة الصفا', 'نجران', 'نجران', 'اثل ، النمص،النخل', 44.08539906, 17.46522093),
 ('F_2', 'غابة الهيجة', 'نجران', 'نجران', 'اثل ، النمص ، طلح', 44.06675694, 17.45463665),
 ('F_3', 'غابة الصحن', 'نجران', 'يدمة', 'اراك ، سمر ، عشر', 44.25180907, 18.505835100000002),
 ('F_4', 'غابة رجلاء', 'نجران', 'نجران', 'سمر ، سلم ، طلح', 44.23941821, 17.4842945),
 ('F_5', 'غابة الغثمه', 'نجران', 'نجران', 'سدر ، سلم ، طلح ، قرض', 43.96967427, 17.58062959),
 ('F_6', 'غابة الحباية1', 'نجران', 'حبونا', 'سدر ، سلم ، طلح ، عشر', 43.97613072, 17.85126158),
 ('F_7', 'وادى حرس-هداده', 'نجران', 'بدر الجنوب', 'طلح ، سمر ، قرض', 43.76499802, 17.52504593)]

` حسنا، ماذا لو كنا مهتمين في معرفة عدد الصفوف؟ أي بمعنى آخر: ماذا لو أردنا معرفة عدد الغابات في المملكة العربية السعودية؟ `

In [16]:
%%sql
-- We count number of rows using 'COUNT' 
-- نقوم بعد عدد الصفوف عن طريق كود كاونت

SELECT COUNT(*) from Forests_KSA;

 * sqlite:///My_Forest_DB.db
Done.

[(280,)]

`في الكود الذي في الأعلى، قمنا بعد عدد الغابات في المملكة العربية السعودية وكانت النتيجة ٢٨٠ غابة. نستطيع أيضا تسمية النتيجة بالطريقة التالية`

In [17]:
%%sql
-- We use 'AS' to give the result a name
-- نقوم باستخدام آس لإعطاء اسم للنتيجة

SELECT COUNT(*) AS number_of_forests_KSA from Forests_KSA;

 * sqlite:///My_Forest_DB.db
Done.

[(280,)]

`فلنقم الآن باستكشاف عدد الغابات الموجودة في منطقة نجران كالتالي`

In [18]:
%%sql
-- We use WHERE to add a condition
-- نقوم باستخدام وير من أجل إضافة شرط

SELECT COUNT(*) as forests_in_Najran FROM Forests_KSA
WHERE State = 'نجران'

 * sqlite:///My_Forest_DB.db
Done.

[(10,)]

`لقد اكشتفنا أنه يوجد ١٠ غابات في منطقة نجران. والآن، فلنبحث عن ماهي أسماء الغابات العشرة في نجران عن طريق استخدام الكود التالي `

In [19]:
%%sql

SELECT Forest_Name, plants_type from Forests_KSA 
WHERE State = 'نجران'

 * sqlite:///My_Forest_DB.db
Done.

[('غابة الصفا', 'اثل ، النمص،النخل'),
 ('غابة الهيجة', 'اثل ، النمص ، طلح'),
 ('غابة الصحن', 'اراك ، سمر ، عشر'),
 ('غابة رجلاء', 'سمر ، سلم ، طلح'),
 ('غابة الغثمه', 'سدر ، سلم ، طلح ، قرض'),
 ('غابة الحباية1', 'سدر ، سلم ، طلح ، عشر'),
 ('وادى حرس-هداده', 'طلح ، سمر ، قرض'),
 ('حلال', 'اثل،اراك، سدر، سمر، مرخ'),
 ('موقع غابة بنجران', ' '),
 ('غابة الخنق', 'السمر والسلم والعشار')]

`أيضا: إذا أردنا معرفة أسماء الأعمدة، ونوعها في جدول الغابات، نستطيع استخدام الكود التالي`

In [20]:
%%sql 
SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('Forests_KSA');

 * sqlite:///My_Forest_DB.db
Done.

[('Forest_index', 'TEXT', 4),
 ('Forest_Name', 'TEXT', 4),
 ('State', 'TEXT', 4),
 ('Town', 'TEXT', 4),
 ('Plants_type', 'TEXT', 4),
 ('Longitude', 'REAL', 4),
 ('Latitude', 'REAL', 4)]

### `Step Six: Add a Third Table to the Database — الخطوة السادسة: إضافة جدول ثالث إلى قاعدة البيانات `
`قمنا في السابق بإضافة جداول بانداز إلى قاعدة البيانات. ولكن هذه الجداول أخذت جاهزة وتمت إضافتها بشكل مباشر. والآن سوف نقوم بصناعة جدول البيانات بأنفسنا عن طريق أكواد الـ`

`SQL`

` الجدول الافتراضي سوف يكون الغابات التي زرتها `

In [21]:
%%sql
-- We will use 'CREATE TABLE', then we will assign names of the columns and their types
-- سنقوم بصناعة الجدول وتحديد أسماء الأعمدة وأنواعهم

CREATE TABLE Forests_I_Visited (
    Forest_index VARCHAR(4) , 
    My_rating INT,  
    Visit_date DATE);

 * sqlite:///My_Forest_DB.db
Done.

[]

In [22]:
# Checking the current tables in the db - التحقق من الجداول الموجودة حاليا في قاعدة البيانات

%sql SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///My_Forest_DB.db
Done.

[('Afforestation_KSA',), ('Forests_KSA',), ('Forests_I_Visited',)]

In [23]:
%%sql

SELECT * FROM Forests_I_Visited

 * sqlite:///My_Forest_DB.db
Done.

[]

`نلاحظ أن تم إضافة الجدول إلى قاعدة البيانات، ولكن ما زال الجدول فارغ ولا يوجد فيه أية معلومات. فلنقم الآن بإضافة بعض الصفوف`

In [24]:
%%sql

INSERT INTO Forests_I_Visited (Forest_index, My_rating, Visit_date)
VALUES
('F_3' ,10, '2020-10-23'),
('F_7' ,8, '2021-01-11'),
('F_11' ,9, '2022-06-26')

 * sqlite:///My_Forest_DB.db
3 rows affected.

[]

`للتحقق من شكل الجدول الآن`

In [25]:
%%sql

SELECT * FROM Forests_I_Visited

 * sqlite:///My_Forest_DB.db
Done.

[('F_3', 10, '2020-10-23'),
 ('F_7', 8, '2021-01-11'),
 ('F_11', 9, '2022-06-26')]

### `Bonus Step: Relate Between the 2nd and 3rd Tables — خطوة إضافية :ربط بين الجدول الثاني والثالث `

`نلاحظ من الجدول الثالث الذي تمت صناعته أن هناك ثلاثة عواميد. رقم الغابة، والتقييم لتجربة زيارة الغابة، وماهو تاريخ زيارة الغابة. ولكن ماذا لو أردنا معرفة ماهي أسماء تلك الغابات؟ هنا تكمن أهمية لغة الإس كيو إل وأنظمة قواعد البيانات في تمكينها لمهندسي وعلماء البيانات من ربط الجداول عن طريق علاقات منطقية. فنستطيع أخذ أرقام الغابات من الجدول الثالث (الغابات التي زرتها)`

`Forests_I_Visited`

`واستخدامها في الجدول الثاني (غابات المملكة العربية السعودية) أو`

`Forests_KSA`

`لمعرفة ماهي أسماء تلك الغابات`

In [26]:
%%sql

Select A.Forest_Name, B.My_rating FROM Forests_KSA AS A, Forests_I_Visited AS B
WHERE A.Forest_index = B.Forest_index

 * sqlite:///My_Forest_DB.db
Done.

[('غابة الصحن', 10), ('وادى حرس-هداده', 8), ('غابات وادى سروم الاعلى', 9)]

` إن أردنا التخلص من جدول معين. نستطيع استخدام الكود التالي`

In [27]:
%%sql
DROP TABLE Forests_I_Visited;

 * sqlite:///My_Forest_DB.db
Done.

[]

In [28]:
# Checking the current tables in the db - التحقق من الجداول الموجودة حاليا في قاعدة البيانات

%sql SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///My_Forest_DB.db
Done.

[('Afforestation_KSA',), ('Forests_KSA',)]

##  `ماذا تعلمنا؟` 
#####   `هناك أنواع مختلفة من البيانات، ولكل نوع قاعدة بيانات مناسبة لإدارتها • ` 
#####     `نقوم بإدارة البيانات في أنظمة قواعد البيانات العلائقية عن طريق لغة • `
#####     `SQL `
#####     `  نستطيع من خلال لغة الـإس كيو إل استيراد الجداول،  صنعها، تعديلها  أو استدعائها •`
#####     ` إن من أهم الميزات في أنظمة قواعد البيانات العلائقية هو القدرة على ربط الجداول سويا عن طريق المنطق مما يفتح الأبواب لآفاق جديدة •`

##  `كيف أتعلم لغة الـ`
##  `SQL?`

`لقد استنتجنا الآن أن لغة الإس كيو إل من أهم اللغات لعلماء البيانات. ولعلك الآن تتساءل عن كيفية اتقان هذه اللغة؟ والجواب هو أن هناك العديد من المصادر المجانية لتعلم هذه اللغة بالكامل.  وربما قد تتساءل أيضا: ماهو نظام إدارة البيانات العلائقية المناسب للتعلم؟ ونصيحتنا هي ألا تشغل بالك فيما يتعلق بإيجاد أي قاعدة بيانات علائقية هي الأفضل. لأنهم متشابهون جدًا، وإن اتقنت استخدام واحدة باستخدام الإس كيو إل سيصبح اتقان الآخير سهلا لأنهم أيضا يستخدمون اللغة `